
server:
  port: 8084
  servlet:
    context-path: /microservico-pagamento

spring:
  application:
    name: microservico-pagamento
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
      properties:
        hibernate:
          dialect: org.hibernate.dialect.MySQLDialect
  jmx:
    enable: false
  datasource:
    url: jdbc:mysql://localhost:3306/pagamento
    username: root
    password: 1999

  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin

produto:
  rabbitmq:
    exchange: produto.exchange
    queue: micro.produto.queue
security:
  jwt:
    token:
      secret-key: chave_microservices
eureka:
  instance:
    hostname: localhost
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/registry/eureka